<div class="h-[200%] w-[100%]  flex flex-col mt-[0.5%]">
  <section class="flex flex-row items-center h-[50%] w-full  gap-[2%]">
    <img src="https://i.pinimg.com/564x/ec/98/63/ec98632efec9035e5d55cc817b54c0d9.jpg" alt=""
      class="w-[35%] h-[80%] object-cover rounded-2xl shadow-custom-shadow">
    <div class="w-[70%] h-[100%]  p-6 flex flex-col items-center">
      <p class="text-4xl font-bold text-black mb-4 font-google-anta" style="text-shadow: 2px 2px #31bb11;">Politica de
        Privacidad</p>
      <p class="text-lg text-black mb-6 font-google-anta">
        La presente Política de Privacidad establece los términos en que UrbiTours.com usa y protege la información que
        es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la
        seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual
        usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este
        documento. Sin embargo, esta Política de Privacidad puede cambiar con el tiempo o ser actualizada, por lo que le
        recomendamos y enfatizamos revisar continuamente esta página para asegurarse de que está de acuerdo con dichos
        cambios.
      </p>
      <p class="text-4xl font-bold text-black mb-4 font-google-anta" style="text-shadow: 2px 2px #31bb11;">Información
        que es recogida</p>
      <p class="text-lg text-black font-google-anta">
        Nuestro sitio web podrá recoger información personal, por ejemplo: nombre, información de contacto como su
        dirección de correo electrónico e información demográfica. Así mismo, cuando sea necesario, podrá ser requerida
        información específica para procesar algún pedido o realizar una entrega o facturación.
      </p>
    </div>
  </section>
  <section class="flex flex-row items-center h-[50%] w-full  gap-[2%]">
    <div class="w-[70%] h-[100%]  p-6 flex flex-col items-center">
      <p class="text-4xl font-bold text-black mb-4 font-google-anta" style="text-shadow: 2px 2px #31bb11;">Uso de la
        información recogida</p>
      <p class="text-lg text-black mb-6 font-google-anta">
        Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente
        para mantener un registro de usuarios, de pedidos en caso de que aplique, y mejorar nuestros productos y
        servicios. Es posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con
        ofertas especiales, nuevos productos y otra información publicitaria que consideremos relevante para usted o que
        pueda brindarle algún beneficio.
        UrbiTours.com está altamente comprometido para cumplir con el compromiso de mantener su información segura.
        Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos de que no exista ningún
        acceso no autorizado.
      </p>
      <p class="text-4xl font-bold text-black mb-4 font-google-anta" style="text-shadow: 2px 2px #31bb11;">Cookies</p>
      <p class="text-lg text-black font-google-anta">
        Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta
        información es empleada únicamente para análisis estadístico y después la información se elimina de forma
        permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo, las cookies
        ayudan a proporcionar un mejor servicio de los sitios web, éstas no dan acceso a información de su ordenador ni
        de usted, a menos que usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso de
        cookies; sin embargo, la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor
        servicio web. También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se
        declinan, es posible que no pueda utilizar algunos de nuestros servicios.
      </p>
    </div>
    <img src="https://i.pinimg.com/564x/2b/40/69/2b40695d8f982e78ab47f3afc53e5033.jpg" alt=""
      class="w-[35%] h-[80%] object-cover rounded-2xl shadow-custom-shadow">
  </section>
  <section class="flex flex-row items-center h-[50%] w-full  gap-[2%]">
    <img src="https://i.pinimg.com/564x/ec/3b/5c/ec3b5ccebaaf903d56df87fed41d4820.jpg" alt=""
      class="w-[35%] h-[80%] object-cover rounded-2xl shadow-custom-shadow">
    <div class="w-[70%] h-[100%]  p-6 flex flex-col items-center justify-center">
      <p class="text-4xl font-bold text-black mb-4 font-google-anta" style="text-shadow: 2px 2px #31bb11;">Control de su
        información personal</p>
      <p class="text-lg text-black font-google-anta">
        En cualquier momento, usted puede restringir la recopilación o el uso de la información personal que es
        proporcionada a nuestro sitio web. Cada vez que se le solicite rellenar un formulario, como el de alta de
        usuario, puede marcar o desmarcar la opción de recibir información por correo electrónico. En caso de que haya
        marcado la opción de recibir nuestro boletín o publicidad, usted puede cancelarla en cualquier momento.
        Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento,
        salvo que sea requerido por un juez con una orden judicial.
        UrbiTours.com se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier
        momento.
      </p>
    </div>
  </section>
  <section class="h-[50%] w-full ">
    <h2 class="text-4xl font-bold mb-4 font-google-anta" style="text-shadow: 2px 2px #31bb11;">Misión</h2>
    <p class="text-lg mb-6 font-google-anta">
      Desarrollar e impartir conocimiento científico y tecnológico a través de programas innovadores y de investigación
      avanzada en el ámbito de los viajes, con el objetivo de impulsar el desarrollo integral de nuestros clientes y
      contribuir al progreso tecnológico del sector turístico.
    </p>

    <h2 class="text-4xl font-bold mb-4 font-google-anta" style="text-shadow: 2px 2px #31bb11;">Visión</h2>
    <p class="text-lg mb-6 font-google-anta ">
      UrbiTours.com es una agencia de viajes moderna, innovadora y eficiente que:
    </p>
    <ul class="list-disc list-inside text-lg mb-6 font-google-anta">
      <li>Ofrece servicios personalizados y de alta calidad orientados a las necesidades de los viajeros.</li>
      <li>Desarrolla soluciones tecnológicas basadas en inteligencia artificial y microservicios que tienen un impacto
        significativo.</li>
      <li>Transfiere sus resultados y conocimientos a nivel nacional e internacional.</li>
      <li>Es considerada un socio estratégico para agencias de viajes y organizaciones turísticas a nivel global.</li>
      <li>Destaca por su compromiso con la responsabilidad social y la sostenibilidad en la industria del turismo.</li>
    </ul>
  </section>
</div>